.icon-bars::before{
  font-weight: 400;
  content: '\f0c9';
}
.icon-arrow::before{
  font-weight: 400;
  content: '\f178';
}
.icon-star::before{
  font-weight: 900;
  content: '\f005';
}
.icon-facebook::before{
  font-weight: 400;
  content: '\f39e';
}
.icon-twitter::before{
  font-weight: 400;
  content: '\f099';
}
.icon-pinterest::before{
  font-weight: 400;
  content: '\f0d2';
}
